

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 600px;
$breakpoint-mobile-sm: 425px;

$white-color: #ffffff;
$red-color: #f93821;
$p-text-color: #6B7280;
$cyan-color: rgb(34 211 238);