@use './variables' as v;

aside {
    
    .wrapper {
        background: rgb(9, 48, 70);
        position: fixed;
        top: 0;
        left: 0;
        width: 270px;
        height: 100%;
        z-index: 2;
        padding: 50px 0 50px 50px;
        transition: all 0.5s ease;

        .logo__wrapper {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 15px;

            img {
                display: inline-block;
                height: 40%;
                width: 15px;
            }

            h4 {
                display: inline-block;
                width: 60%;
                color: v.$white-color;
                padding: 5px 5px 5px 7px;
                font-size: 25px;
                line-height: 1;
                letter-spacing: -0.05em;
                font-style: italic;
            }
        }


        .menu {
            
            .menu__title {
                color: rgb(208, 205, 205);
                font-weight: 700;
                font-size: 0.875rem;
            }

            ul {
                margin-top: 25px;
                margin-bottom: 40px;

                li {
                    margin-bottom: 20px;

                    .menu__item-link {
                        display: block;
                        position: relative;
                        font-size: 1rem;
                        color: rgb(208, 205, 205);
                        display: flex;
                        align-items: center;
        
                        &:hover, &:active {
                            border-right: 2px solid v.$cyan-color;
                            color: v.$white-color;
                        }
        
        
                        .icon {
                            height: 20px;
                        }
        
                        .item {
                            margin-left: 15px;
                        }
                    }
                }
            }

            .menu-wrapper {
                display: flex;
                align-items: center;

                span {
                    width: 22px;
                    height: 22px;
                    color: v.$cyan-color;
                    margin-left: 40px;

                    &:hover {
                        color: rgb(8 145 178);
                    }

                    .playlist__icon {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


.home__player {
    margin-left: 300px;
    padding: 50px 25px 25px 25px;

    .top__wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        .top__left {
            width: 45%;
        }

        .top__right {
            width: 55%;
            display: flex;
            justify-content: flex-end;

            .btn{
                font-size: 0.875rem;
              
                @media (max-width: v.$breakpoint-desktop) {
                  width: unset;
                  text-align: unset;
                }
              }
        }
    }

    .input__container {
        position: relative;
        width: 100%;
        height: 34px;
        border-radius: 20px;
        flex: 1 1 auto;
        border: 1px solid v.$cyan-color;

        input {
            height: 100%;
            width: 80%;
            padding-left: 35px;
            margin: 0;
            color: v.$white-color;
            flex: 1 1 auto;

            &::-moz-placeholder {
                color: v.$white-color;
            }
    
            &::placeholder {
                color: v.$white-color;
            }
        }

        .search__icon {
            position: absolute;
            bottom: 7px;
            left: 10px;
            color: v.$cyan-color;
            width: 18px;
            height: 18px;
        }

        button {
            display: inline-block;
            background: v.$red-color;
            border-radius: 20px;
            position: absolute;
            bottom: 4px;
            right: 7px;
            cursor: pointer;
            padding: 0.25rem 0.875rem;
            color: v.$white-color;
            
            &:hover {
                color: #f93821;
                background: rgba(255,255,255,0.5);
            }
        }
    }
}