@use '../../styles/variables' as v;

.top__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .top__left {
        width: 45%;

        .input__container {
            position: relative;
            width: 100%;
            height: 34px;
            border-radius: 20px;
            flex: 1 1 auto;
            border: 1px solid v.$cyan-color;
    
            input {
                height: 100%;
                width: 80%;
                padding-left: 35px;
                margin: 0;
                color: v.$white-color;
                flex: 1 1 auto;
    
                &::-moz-placeholder {
                    color: v.$white-color;
                }
        
                &::placeholder {
                    color: v.$white-color;
                }
            }
    
            .search__icon {
                position: absolute;
                bottom: 7px;
                left: 10px;
                color: v.$cyan-color;
                width: 18px;
                height: 18px;
            }
    
            button {
                display: inline-block;
                background: v.$red-color;
                border-radius: 20px;
                position: absolute;
                bottom: 4px;
                right: 7px;
                cursor: pointer;
                padding: 0.25rem 0.875rem;
                color: v.$white-color;
                
                &:hover {
                    color: #f93821;
                    background: rgba(255,255,255,0.5);
                }
            }
        }
    }


    .top__right {
        width: 55%;
        display: flex;
        justify-content: flex-end;
    }
}